.buscador-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5px;
}

.buscador-bar input {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    outline: none;
    width: 200px; 
    transition: box-shadow 0.3s ease;
}

.buscador-bar input:focus {
    box-shadow: 0 0 5px var(--primary-color);
    border-color: var(--primary-color);
}

.buscador-bar button {
    padding: 10px;
    background-color: var(--secondary-light);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buscador-bar button:hover {
    background-color: var(--secondary-color);
}
